@font-face {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    src: local('Gugi Regular'), local('Gugi-Regular'), url(https://fonts.gstatic.com/s/gugi/v2/A2BVn5dXywshZAmK9Q.woff2) format('woff2');
  }

.title{
    color: white;
    background:#0087E2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-blend-mode: color-burn;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 2vh 10vh;
  }
  
  .logo{
    margin: 0vh;
    display: flex;
    font-family: 'Gugi', cursive;
    font-size: 25px;
  }
  
  .moto{
    margin: 0vh;
    display: flex;
  }