@font-face {
    font-family: 'Nunito', 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Nunito|Lato');
}
  
html, body{
  font-family: 'Nunito', 'Lato',sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: lightgray;
  overflow: hidden;
}


*::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #839496;
  border-radius: 25px;
}

.content{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-around;
  flex: 1;;
}

.box{
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px 30px;
  overflow: scroll;
  height: 70vh;
}